@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}
.nav_container {
    max-width: 1060px;
    margin: 0 auto;
}
.travel_container {
    max-width: 1060px;
    margin: 0 auto;
    padding-bottom: 32px;
}
ol,
ul {
    list-style: none;
    list-style-type: none;
}

a:hover {
    --bs-link-color-rgb: var(--basic_03);
}

a {
    color: var(--basic_03);
    text-decoration: none;
    display: inline-block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

button {
    border: none;
    outline: none;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
    border-radius: 5px;
    text-transform: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    color: var(--basic_wh);
    background-color: var(--primary_01);
    border-color: var(--primary_01);
}

.btn {
    width: 100px;
    height: 42px;
}

.btn:hover {
    color: var(--basic_wh);
    background-color: var(--primary_02);
    border-color: var(--primary_02);
}

.btn-primary {
    color: var(--basic_wh);
    background-color: var(--primary_01);
    border-color: var(--primary_01);
    transition: all 0.3s;
    white-space: nowrap;
}

.tab_menu li a.tab_active {
    background-color: var(--primary_02);
    color: var(--basic_wh);
    width: 100%;
    border-radius: 5px;
}

.tab_menu li {
    padding: 5px 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.form-control:focus {
    color: var(--basic_03);
    border-color: var(--primary_01);
    box-shadow: 0 0 0 0;
}

select::-ms-expand {
    display: none;
}

select {
    padding: 5px;
    border: 1px solid var(--form);
    border-radius: 5px;
    text-transform: none;
    outline: none;
}

::marker {
    display: none;
}

textarea {
    outline: none;
    resize: none;
}

/*.table > :not(caption) > * > * {*/
/*    padding: 0.5rem 0.5rem;*/
/*    !* color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color))); *!*/
/*    background-color: var(--bs-table-bg);*/
/*    border-bottom-width: var(--bs-border-width);*/
/*    box-shadow: inset 0 0 0 9999px*/
/*    var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));*/
/*}*/
.table {
    margin-bottom: 32px;
}

th,
td,
tr {
    text-align: center;
}

input::placeholder {
    color: var(--form);
    font-size: 14px;
}

input::-webkit-input-placeholder {
    color: var(--form);
    font-size: 14px;
}

input:-ms-input-placeholder {
    color: var(--form);
    font-size: 14px;
}
textarea::placeholder {
    color: var(--form);
    font-size: 14px;
}

textarea::-webkit-input-placeholder {
    color: var(--form);
    font-size: 14px;
}

textarea:-ms-input-placeholder {
    color: var(--form);
    font-size: 14px;
}
input {
    height: 42px;
    outline: none;
}

input[type="checkbox"] {
    height: 20px;
    margin-right: 5px;
}

.td_width80 {
    width: 80px;
}

.td_width120 {
    width: 120px;
}

.td_width160 {
    width: 160px;
}

.td_width140 {
    width: 140px;
}

.td_width180 {
    width: 180px;
}

.td_border {
    border: 0.5px solid gainsboro;
}

/*초기화*/
.navbar-nav {
    flex-direction: row;
}
.navbar-nav > li{
    padding-right: 12px;
}


.modal_title {
    margin-bottom: 16px;
}
.modal_title h4 {
    font-weight: bold;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

/* 라디오 버튼 */

/* 이벤트 라디오 버튼 공통 */
.radio_btn .radio_group:nth-child(1) {
    margin-right: 32px;
}

.radio_btn input[type="radio"]:checked+label,
.radio_btn input[type="radio"]:not(:checked)+label {
    padding-left: 35px;
    padding-top: 2px;
}

.radio_btn input[type="radio"]:checked+label,
.radio_btn input[type="radio"]:not(:checked)+label {
    color: var(--basic_05);
    font-size: 18px;
}

.radio_btn input[type="radio"]:checked+label {
    color: var(--primary_02);
}

.radio_btn input[type="radio"]:checked+label:before,
.radio_btn input[type="radio"]:not(:checked)+label:before {
    width: 23px;
    height: 23px;
}

.radio_btn input[type="radio"]:checked+label:after,
.radio_btn input[type="radio"]:not(:checked)+label:after {
    width: 15px;
    height: 15px;
    top: 4px;
    left: 4px;
}

.radio_btn input[type="radio"]:checked+label:before,
.radio_btn input[type="radio"]:not(:checked)+label:before {
    border: 2px solid var(--primary_02);
}

/* 라디오 버튼 커스텀 */
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
    color: var(--basic_05);
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
}

input[type="radio"]:checked+label {
    color: var(--primary_02);
}

input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--primary_02);
    border-radius: 100%;
    background: #fff;
}

input[type="radio"]:checked+label:before {
    border: 1px solid var(--primary_02);
    border-radius: 100%;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: var(--primary_02);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked+label:after {
    opacity: 1;
}

.radio_group:nth-child(1) {
    margin-right: 12px;
}

/* 체크박스 */

/* 체크박스 */
.check_box {
    white-space: nowrap;
    height: 20px;
    display: inline-block;
}

.check_box input {
    display: none;
}

.check_box_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--basic_wh);
    border: 2px solid var(--primary_02);
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.check_box_txt {
    color: var(--basic_03);
    vertical-align: top;
    display: inline-block;
    padding-left: 8px;
    font-weight: 300;
}

.check_box_icon::before,
.check_box_icon::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 0;
    background-color: var(--primary_02);
    position: absolute;
    transform-origin: left top;
}

.check_box_icon::before {
    top: 8px;
    left: 2px;
    transform: rotate(-45deg);
}

.check_box_icon::after {
    top: 13px;
    left: 8px;
    transform: rotate(-135deg);
}

.check_box input:checked+.check_box_icon {
    border-color: var(--primary_02);
    background-color: var(--primary_02);
}

.check_box input:checked~.check_box_txt {
    font-weight: 400;
}

.check_box input:checked+.check_box_icon::before {
    height: 7px;
    transition: all 0.15s ease;
    background-color: var(--basic_wh);
}

.check_box input:checked+.check_box_icon::after {
    height: 11px;
    transition: all 0.15s ease 0.15s;
    background-color: var(--basic_wh);
}

/* 체크박스 */

/* table */

.common_table table {
    margin-bottom: 20px;
}

.common_table {
    line-height: 2.4;
}

.common_table tr {
    border-bottom: 1px solid var(--line);
}

.common_table td {
    color: var(--basic_07);
}

.common_table th {
    color: var(--basic_03);
    font-weight: 500;
}

.common_table thead {
    border-top: 1px solid var(--line);
}

/*스크롤 커스텀*/
/* 스크롤바 설정*/
.scroll::-webkit-scrollbar{
    width: 4px;
    padding: 0 4px;
}

/* 스크롤바 막대 설정*/
.scroll::-webkit-scrollbar-thumb{
    background-color: var(--primary_01);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.scroll::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}