/* signIn */
.sign_in_page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.kakao_sign_in_page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.me-6 {
	margin-right: 3.5rem!important;
}
.pwd_find, .insert_user {
	color:var(--basic_07);
	text-decoration:none;
}
.w-35 {
	width:35%;
}
/* signUp */
.w-10 {
	width:10%;
}
.form_box {
	display: flex;
	margin-top: 8px;
}
/*.authentication_form {*/
/*	display: none;*/
/*}*/
.terms_info{
	margin-top:2%;
	font-size:13px;
	width:85%;
	margin-left: 2.5rem!important;
}
.terms_font_size{
	font-size:14px;
}
.term_contents{
	color:var(--basic_09);
}
/* 프로필 관리 */
.profile_page, .profile_management_page {
	height: 100%;
}
.profile_box_area {
	height: 100vh;
}
.input_profile_image {
	position: relative;
	width: 160px;
	padding: 0 12px;
	margin: 0 auto;
	border-radius: 50%;
}
.input_profile_image img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.profile_image {
	width: 200px;
	height: 200px;
	padding: 12px;
	margin: 0 auto;
	position: relative;
}
.profile_image > img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.profile_image_item {
	border-radius: 50%;
}
.profile_file_box {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: var(--basic_wh);
	border-radius: 47px;
	border: 1px solid var(--line);
	cursor: pointer;
	bottom: 0;
	right: 0;
}
.principal_username {
	font-weight: bold;
	font-size: 24px;
	color: var(--admin_01);
}

.picture {
	margin: 0 auto;
}
.picture_box {
	position: relative;
}
#inputFile {
	display: none;
}
.input_file_custom {
	background-size: cover;
	position: absolute;
	display: inline-block;
	background: url(../images/icons/camera.svg) no-repeat;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	background-size: cover;
	width: 40px;
	height: 40px;
	cursor:pointer;
	bottom: 0;
}
.profile_info > div > p{
	font-weight: bold;
}
.left_profile_text {
	font-size: 14px;
}
.sns_link {
	height:1.5em!important;
	width:2.75em!important;
}
.type_name {
	width:20%;
}

/* 쿠폰 창*/
.coupon_box{
	padding-bottom:6.25rem!important;
}
.coupon_btn_design{
	border-bottom-style:5px solid var(--primary_02);
	border-bottom-color: var(--primary_02);
}
.top_bar{
	background-color: var(--primary_01);
	color:var(--line);
}
/* 공항정보 */
.duration_of_time {
	display: flex;
	align-items: center;
	font-size: 50px;
}
.airline_minute {
	color: var(--basic_03);
	display: inline-block;
	font-size: 32px;
}
.confusion_status, .smooth_status {
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
}
.congestion_status_item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.confusion_status {
	color: var(--cancle);
}
.smooth_status {
	color: var(--smooth);
}	
.color_green{
	color: var(--smooth);
}
.color_orange{
	color:orange;
}
.color_cancle{
	color:var(--cancle);
}
.airport_info_box {
	margin: 32px 0;
}
.parking_fee_table {
	border-top:2px solid var(--basic_09) ;
}
.parking_fee_table td,th{
	border:1px solid var(--line);
	font-weight: bold;
}
.parking_fee_table th{
	background-color: var(--box_bg);
	padding:1.5%;
}
.parking_btn{
	width:100%;
	font-weight: bold;
	font-size:19px;
}
.hr_margin{
	margin-top:10%;
	margin-bottom:10%;	
}
.discount_target{
	width: 20rem!important;
	padding-left:1rem!important;
	text-align:start;
}
.fee_target_table th,td{
	font-size:14px;
}
.b_pointer{
	cursor:default;
}
/* 예약 상세 페이지  */
.detail_cont_box p{
	font-size: 14px;
}
.trip_image{
	background:url('/images/round_trip.png');
	height:10%;
	padding-left:2rem!important;
	padding-right:2rem!important;
	display: inline-block;
}

/* 제작중인 요소의 색상 넣기에 사용 중*/
.color_primary01 {
	color: var(--primary_01);
}
.color_primary02 {
	color: var(--primary_02);
}
.color_basic09{
	color: var(--basic_09);
}
.w-85{
	width:85%;
}
.w-49{
	width:49%;
}
.bg_primary01{
	background-color: var(--primary_01);
}
.btn_cancel{
	background-color: var(--line);
}
.btn_cancel:hover{
	border-color: var(--form);
	background-color: var(--form);
	color:var(--basic_bl);
}
.w-60{
	width:60%;
}
.w-81{
	width:81%;
}
.w-80{
	width:80%;
}
.w-70{
	width:70%;
}
.w-5{
	width:5%;
}
.bg_basic09{
	background-color: var(--basic_09);
}
.bg_line{
	background-color: var(--line);
}
/* 취소 페이지*/
.passenger_info_table td{
	border-top:1px solid var(--line);
	border-bottom:1px solid var(--line);
	padding:1%;
}
.fare_regulations_btn{
	background-color:var(--basic_bl);
	color:var(--basic_wh);	
	width:15%;
}
.fare_regulations_btn:hover{
	background-color:var(--basic_bl);
	color:var(--basic_wh);	
}

/* 결제 취소,운임규정 modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
   
}
.modal_cont {
    background-color: var(--basic_wh);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--line);
    width: 30%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 운임규정 모달창 */
/* 예약 완료 페이지*/
.payed_result_mark{
	border:2px solid var(--primary_02);
}
.w-40 {
	width:40%;
}

.w-28 {
	width:28%;
}
/* main */
.city_search_box{
	width:100%;
	border-radius: 5px;
	display: none;
	overflow-y: scroll;
}
.city_search_table{
	width:100%;
}
.city_search_table td{
	border-bottom:1px solid var(--line);
}
.city_search_table tbody tr{
	cursor: pointer;
}
.city_search_table tbody tr:hover{
	background:var(--line);
}
.coupon_discount{
	font-weight: bold;
	display:inline;
}
.my_coupon{
	cursor: pointer;
}
/* 내 여행 목록  */
.no_result_page{
	text-align: center;
	font-size: 1.75rem;
	padding-top:6rem;
	padding-bottom:6rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	color:var(--basic_09);
	
}
