@import url(reset.css);
@import url(mk_style.css);
@import url(ss_style.css);
@import url(ej_style.css);

/* commmon */
:root {
    --primary_01: #71C1EE;
    --primary_02: #378AD7;
    --admin_01: #1E6289;
    --admin_02: #CDDEE8;
    --cancle: #ED5342;
    --cancle_bg : #FBF1EF;
    --before_pay_bg : #FFF8E1;
    --before_pay : #F78B14;
    --complete : #F8F9FA;
    --basic_03: #333;
    --basic_05: #555;
    --basic_07: #777;
    --basic_09: #999;
    --form: #D3D8DE;
    --line: #F0F0F0;
    --box_bg:#F5F6F7;
    --basic_wh: #fff;
    --basic_bl: #000;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap {
    width: 100%;
    height: 100%;
}
html,body {
    width: 100%;
    height: 100%;
}
/*header*/
header {
    border-bottom: 1px solid var(--line);
    position: fixed;
    width: 100%;
    background-color: var(--basic_wh);
    z-index: 111;
}

header .search {
    width: 40%;
}
.header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu {
    display: flex;
}
.header_menu li a {
    padding: 0 15px;
    position: relative;
}
.header_menu li:first-child a::after {
    content: "";
    top: 0px;
    width: 1px;
    height: 16px;
    background-color: var(--basic_09);
    position: absolute;
    right: 0;
}
.nav-link:focus, .nav-link:hover {
    color: var(--primary_02);
    font-weight: bold;
}
.nav_bg {
    background: url("../images/nav-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
main {
    padding: 113px 0px 167px 0px;
}
/*header*/



/* 항공권 검색 페이지 */

#flight_search_page .search_from_to_box {
    background-color: var(--box_bg);
    box-shadow: 0px 1px 6px 5px var(--form);
    margin-bottom: 32px;
}

#flight_search_page .from_to_modal {
    top: 25%;
    left: 12%;
}

#flight_search_page .passenger_seat_modal {
    top: 25%;
    right: 12%;
}

.flight_search_cont {
    display: flex;
    padding-bottom: 197px;
    justify-content: space-evenly;
}

.flight_search_left {
    width: 200px;
    padding: 0 16px;
    height: 100%;
}

.flight_search_right {
    width: 70%;
}

.flight_detail_box {
    padding-bottom: 12px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid var(--form);
    margin-bottom: 12px;
}

.flight_detail_wrap {
    position: relative;
    padding: 12px 0;
}

.flight_detail_box li {
    letter-spacing: -0.07em;
    line-height: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.flight_detail_box li:nth-child(3) {
    color: var(--basic_05);
    font-size: 14px;
}

.detail_more {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.flight_detail_box.active .detail_arrow {
    transform: rotate(180deg);
}

.flight_search_result.active .detail_arrow {
    transform: rotate(180deg);
}

.flight_search_result.active .detail_more {
    max-height: 100%;
}

.flight_detail_wrap .detail_arrow {
    display: inline-block;
    position: absolute;
    height: 24px;
    bottom: 0;
    right: 0;
    top: -2px;
}

.filter_item {
    margin-bottom: 24px;
}

.filter_item li {
    display: flex;
    align-items: center;
    line-height: 2;
}

.filter_item .check_box {
    margin-right: 5px;
}

.flight_search_right .flight_detail_wrap {
    background-color: var(--basic_wh);
    box-shadow: 0 1px 10px 2px var(--form);
    border-radius: 30px;
    padding: 20px 20px 10px 20px;
    margin-bottom: 32px;
}

.flight_search_right .flight_detail_box {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.flight_search_right .flight_detail_wrap .detail_arrow {
    right: 40%;
    top: 2px;
}

.flight_search_right .flight_detail_price {
    padding-left: 20px;
    border-left: 1px solid var(--form);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.flight_search_right .flight_search_result {
    width: 80%;
    padding-right: 20px;
}

.flight_detail_wrap .detail_arrow {
    display: inline-block;
    position: absolute;
    height: 24px;
    bottom: 0;
    right: 0;
    top: -2px;
}

.flight_result_top,
.flight_result_btm {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.flight_result_top>li,
.flight_result_btm>li {
    text-align: center;
    padding: 0 5px;
}

.flight_detail_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.airline_icon {
    display: flex;
    align-items: center;
}

.airline_icon_img {
    padding: 7px;
    width: 45px;
    height: 45px;
    border: 1px solid var(--line);
    border-radius: 5px;
    margin-right: 8px;
    display: inline-block;
}

.airline_arrow_icon {
    display: inline-block;
    padding: 0 10px;
}

.airline_time_taken {
    padding: 0 25px;
}

.airline_time {
    font-weight: 500;
}

.airline_time>span {
    font-weight: 400;
    font-size: 14px;
}

.airline_txt {
    font-size: 14px;
    color: var(--basic_09);
    padding-top: 4px;
}

.remaining_seats {
    font-size: 12px;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--cancle);
}

.reservation_price {
    padding: 12px;
    border: 1px solid var(--primary_02);
    border-radius: 5px;
    display: inline-block;
    color: var(--primary_02);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    white-space: nowrap;
}

/* 항공권 검색 더보기 */

.detail_more_area {
    border-top: 1px solid var(--line);
    padding: 16px 0;
    margin-top: 16px;
}

.detail_more_btn {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 8px 0;
}

.detail_more_btn>span {
    color: var(--primary_02);
    font-size: 14px;
    font-weight: 500;
}

.detail_more_tit {
    background-color: var(--box_bg);
    padding: 12px;
}

.detail_more_tit span {
    font-weight: 500;
}

.detail_more_cont {
    padding: 12px;
    padding-top: 20px;
    border-bottom: 1px solid var(--line);
    margin-bottom: 24px;
}

.go_label {
    color: var(--basic_wh);
    padding: 4px;
    background-color: var(--primary_02);
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 8px;
}

.detail_distance,
.detail_distance>ul {
    display: flex;
}

.detail_country_name {
    padding-right: 50px;
}

.detail_country_name>span {
    display: inline-block;
    white-space: nowrap;
}

.detail_trip_area {
    display: flex;
}

.detail_trip_date {
    padding-right: 20px;
}

.detail_trip_cont {
    position: relative;
    padding-left: 20px;
    border-left: 1px solid var(--form);
    line-height: 1.5;
}

.detail_trip_cont>p:nth-child(2) {
    font-size: 14px;
    color: var(--basic_09);
}

.detail_trip_cont>p:nth-child(3) {
    font-size: 14px;
    color: var(--basic_07);
    font-weight: 500;
}

.detail_trip_cont::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    top: 0;
    left: -5px;
    border: 1px solid var(--form);
    background-color: var(--basic_wh);
}

.detail_trip_cont::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    bottom: 0;
    left: -5px;
    border: 1px solid var(--form);
    background-color: var(--basic_wh);
}

.trip_waiting_time {
    padding: 16px 0;
    text-align: left;
    color: var(--primary_01);
    font-size: 14px;
    font-weight: 500;
    padding-left: 162px;
}

.detail_fee .detail_fee_tit {
    margin-bottom: 8px;
}

.detail_fee_tit {
    font-weight: bold;
}

.detail_total_fee {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

.detail_total_fee>li:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
}
/*footer*/

footer {
    background-color: var(--box_bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 165px;
}
.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul li {
    line-height: 1.2;
}
footer ul li:last-child {
    padding-top: 10px;
}
footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text {
    position: relative;
    padding: 50px 0;
}

/* 운임 규정 모달 */
.fare_modal_btn{
    background-color: var(--basic_03);
    color: var(--basic_wh);
    width: 120px;
}

.agreeMenu {
    max-height: 700px; /* 원하는 높이로 설정하세요 */
    overflow-y: auto;
}